
.red-link a:active
{
    color:#a12424;
}
.red-link a:hover
{
    color:#a12424;
}
.mobile-text-aligner
{
    text-align: center;
}

header{
    border-bottom: 13px solid #a12424;
    background-color:#ffa1a1 ;
}


.header-nav{
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: #ffa1a1;
    border: 2px solid #a12424;
    text-decoration: none;
    text-align: center;
    
}

.header-nav a.active{
    color:#a12424;
}
.header-nav a:hover{
    color: #a12424;
}

#elem-border{
    
    border: 2px solid #a12424;
    background-color: #f3cece;

}



footer{
    border-top: 13px solid #a12424;
    background-color: #ffa1a1 ;
}



#tr-nech td{
    background-color: black;
    color: white;
}


@media screen and (min-width: 758px) {
    .header-nav{
        font-size: 24px;
        border: none;
        background-color: none;
    }

    
}